version: '3.3'
services:
  db:
    image: postgres:12.4

    container_name: postgresql

    restart: always

    volumes:
      - postgres_data:/var/lib/postgresql/data/

    env_file:
      - backend/.env

  backend:
    image: ntcnqa/foodgram_backend:latest

    restart: always

    volumes:
      - static_value:/backend/backend_static/
      - media_value:/backend/media/

    env_file:
      - backend/.env

    depends_on:
      - db

  frontend:
    image: ntcnqa/foodgram_frontend:latest

    volumes:
      - frontend_data:/app/build/

    depends_on:
      - db

  nginx:
    image: nginx:1.19.3

    ports:
      - 80:80

    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - frontend_data:/usr/share/nginx/html/
      - static_value:/usr/share/nginx/html/backend_static/
      - media_value:/usr/share/nginx/html/media/
      - ./docs/redoc.html:/usr/share/nginx/html/api/docs/redoc.html
      - ./docs/openapi-schema.yml:/usr/share/nginx/html/api/docs/openapi-schema.yml

    depends_on:
      - backend
      - frontend

volumes:
  postgres_data:
  static_value:
  media_value:
  frontend_data: