version: '3.3'
services:
  db:
    container_name: postgres_foodgram
    restart: always
    image: postgres:12.7-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - backend/.env
  backend:
    container_name: backend_foodgram
    restart: always
    image: ntcnqa/foodgram_backend:latest
    volumes:
      - static_value:/backend/backend_static/
      - media_value:/backend/backend_media/
    env_file:
      - backend/.env
    depends_on:
      - db
  frontend:
    container_name: frontend_foodgram
    image: ntcnqa/foodgram_frontend:latest
    volumes:
      - frontend_data:/app/build/
    depends_on:
      - db
  nginx:
    container_name: nginx_foodgram
    restart: unless-stopped
    image: nginx:1.20.1-alpine
    ports:
      - '80:80'
    volumes:
      - frontend_data:/usr/share/nginx/html/
      - static_value:/usr/share/nginx/html/backend_static/
      - media_value:/usr/share/nginx/html/backend_media/
      - /etc/letsencrypt/:/etc/letsencrypt/
      - ./nginx/http.nginx.conf:/etc/nginx/conf.d/default.conf
      - ./docs/html404.html:/var/html/html404.html
      - ./docs/50x.html:/var/html/50x.html
      - ../docs:/usr/share/nginx/html/api/docs
    depends_on:
      - backend
      - frontend

volumes:
  postgres_data:
  static_value:
  media_value:
  frontend_data: